@using HairSalon.Models;
@model HairSalon.Models.Stylist;
@{
    ViewData["Title"] = "@Model.FirstName @Model.LastName";
    Layout = "_Layout";
}

<h1>@Model.FirstName @Model.LastName</h1>
<h4>Price Rating: @await Html.PartialAsync("PriceRating", Model.PriceRating)
</h4>

<h3>Clients:</h3>
@if(@Model.Clients.Count == 0)
{
    <p>No clients at this time.</p>
}
else
{
    <ul>
    @foreach(Client client in @Model.Clients)
    {
        <li><a href="@Url.RouteUrl("Clients", new { controller="Clients", action="Details", id = @client.ClientId, stylistId = @Model.StylistId })">@client.FirstName @client.LastName</a></li>
    }
    </ul>
}
<p>Is a client missing? Add one @Html.ActionLink("here", "Create", "Clients", new {Model.StylistId})</p>

<p>@Html.ActionLink("Remove Stylist", "Delete", new {id = @Model.StylistId })</p>
<p>@Html.ActionLink("Edit Stylist", "Edit", new {id = @Model.StylistId })</p>