@{
    ViewData["Title"] = "Edit @Model.Name";
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist;
<h3>Edit @Model.Name</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PriceRating)
        @Html.TextBoxFor(model => model.PriceRating) 
    </div>
    @Html.HiddenFor(model => model.StylistId, Model.StylistId)

    <input type="submit" value="Save" />
}