@{
    ViewData["Title"] = "Reassign Clients of @Model.FirstName @Model.LastName";
    Layout = "_Layout";
    var count = 0;
}
@using HairSalon.Models;
@model HairSalon.Models.Stylist;
<h3>Reassign Clients of @Model.FirstName @Model.LastName</h3>

<div class = "row">
@foreach(Client client in Model.Clients)
{
    @if(count % 4 == 0 && count !=0)
    {
        @:</div>
        @:<div class = "row">
    }
    <div class = "col-md-3">
    @using (Html.BeginForm())
    {
        <h4>@client.FirstName @client.LastName</h4>
        <input type="hidden" name="ClientId" value=@client.ClientId>
        <input type="hidden" name="FirstName" value=@client.FirstName>
        <input type="hidden" name="LastName" value=@client.LastName>
        <input type="hidden" name="StartDate" value=@client.StartDate>
        <input type="hidden" name="PreferredAppointmentWeekDay" value=@client.PreferredAppointmentWeekDay>
        <input type="hidden" name="PreferredAppointmentTime" value=@client.PreferredAppointmentTime>
        <input type="hidden" name="fromStylistId" value=@Model.StylistId>

        <div class="form-group-inline">
            <label name="StylistId" value="New Stylist">
            @Html.DropDownList("StylistId")
        </div>

        <input type="submit" value="Save" />
    }
    </div>

    count++;
}
</div>
<p>Go back to @Html.ActionLink($"{Model.FirstName} {Model.LastName}", "Details", new { id = Model.StylistId })'s detail page</p>