@using System;
@using System.Collections.Generic;

@{
    ViewData["Title"] = "Add a Client";
    Layout = "_Layout";
    int stylistId = ViewBag.StylistId;
    ViewData["WeekDays"] = new SelectList(
        new List<SelectListItem>
        {
            new SelectListItem { Selected = true, Text = "Monday", Value = ((int) DayOfWeek.Monday).ToString()},
            new SelectListItem { Selected = false, Text = "Tuesday", Value = ((int) DayOfWeek.Tuesday).ToString()},
            new SelectListItem { Selected = false, Text = "Wednesday", Value = ((int) DayOfWeek.Wednesday).ToString()},
            new SelectListItem { Selected = false, Text = "Thursday", Value = ((int) DayOfWeek.Thursday).ToString()},
            new SelectListItem { Selected = false, Text = "Friday", Value = ((int) DayOfWeek.Friday).ToString()},
            new SelectListItem { Selected = false, Text = "Saturday", Value = ((int) DayOfWeek.Saturday).ToString()},
            new SelectListItem { Selected = false, Text = "Sunday", Value = ((int) DayOfWeek.Sunday).ToString()},
        }, "Value" , "Text", 1);
}
@model HairSalon.Models.Client;
<h3>Add a new Client</h3>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName) 
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.StartDate)
        @Html.TextBoxFor(model => model.StartDate, "{0:MM/dd/yyyy}", new { @class = "form-control", @type="date"}) 
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PreferredAppointmentWeekDay)
        @Html.DropDownList("weekDays") 
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PreferredAppointmentTime)
        @Html.TextBoxFor(model => model.StartDate, "{0:HH:mm}", new { @class = "form-control", @type="time"}) 
    </div>

    @Html.HiddenFor(model => model.StylistId, stylistId)

    <input type="submit" value="Add new client" />
}